@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000; /* Pure black for a premium dark look */
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; /* We can update this later */
}
